# Application
PORT=3000
NODE_ENV=development

# Database
DATABASE_URL="postgresql://neondb_owner:npg_lUVJ5odm4xfi@ep-soft-union-azbfndta-pooler.c-3.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# JWT
JWT_ACCESS_SECRET=replace_with_32_plus_character_secret
JWT_REFRESH_SECRET=replace_with_32_plus_character_secret

# Mailtrap
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=your_mailtrap_username
MAIL_PASS=your_mailtrap_password
MAIL_FROM="SecureAuth <noreply@secureauth.dev>"